body {
  background-image: url("../../assets/Signin&upImg/backgImg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
    padding: 19px 0px 0px 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.login-signin{
  margin-bottom: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;
}
.login-container {
  flex:1;
  max-height: 741px;
  background: white;
  margin: 15px 70px 40px 400px;
  border-radius: 40px;

}
.login-header-text span{
  margin-top: 6px;
  margin-left: auto;
}

.login-header-text{
  display: flex;
  flex-wrap: wrap;
}
.login-header-text p1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 32px;
}

.login-elements{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 50px;
}
.header{
    display: flex;
}

.text-container{
    
    margin-left: 73px;
    margin-top: 70px;
}

.text-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 00;
  font-size: 24px;
  line-height: 36px;
}

.text-container span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

#header{
   font-weight: 600px;
  font-size: 70px;
  line-height: 51px;
  color: #FFFFFF;
}

.login-header-text a{
    text-decoration: none;
}

.google>img{
  width: 26px;
  height: 26px;
}
.google>p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #4285F4;
}

.google{
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-btn{
  margin-left: auto;
}
.signin-btn button{
  border-radius: 9px;
  flex:0.85; 
  height: 55px;
  justify-content: space-around;
  background-color: #E9F1FF;
  border:none;
}

#icon{
  width: 26px;
  height: 26px;
}
#FA-icon{
  width: 60px;
  height: 55px;
}

.signin-btn{
  display: flex;
  margin-bottom: 30px;
}
.login-input{
  display: flex;
  flex-direction: column;
}
.login-input input{
  background: #FFFFFF;
  border: 1px solid #ADADAD;
  border-radius: 9px;
  box-sizing: border-box;
  height: 51px;
}
a {
  padding: 0px 0px 25px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  
}
.user-name-tel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-btn{
  background: #0089ED;
  border: none;
  border-radius: 9px;
  box-sizing: border-box;
  height: 51px; 
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}
/* .login-input label{
  display
} */


.card {
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 145px;
  text-align: center;
  background-color: #EFF8FF;
  height: 250px;
}
.card_img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin: 25px auto 0;
}
.card button img{
  border: none;
  width: 16px
}
.card button{
  border: none;
  background-color: #EFF8FF;
}

.card_img #profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_info {
  padding-bottom: 20px;
}
p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  
  
  color: #ADADAD;
  
  
}
a:hover{
color: black;
}